.about{
    background-color: white;
}

.main-info
{
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
}

.main-info h1
{
    color: #141414;
    font-size: 3vw;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 2.85vw;
    letter-spacing: 0.05vw;
    word-wrap: break-word;
    max-width: 480px;
    text-align: start;
    margin: 1.32vw 0;
}

.main-info p
{
    max-width: 420px;
    color: rgba(85, 85, 85, 1);
    font-size: 1.32vw;
    font-family: Manrope;
    font-weight: 400;
    line-height: 1.56vw;
    text-align: start;
    margin-top: 0;
}

.main-info button
{
    float: left;
    max-width: 450px;
    height: 3.96vw;
    background-color: rgba(212, 120, 222, 1);
    width: 100%;
    border: none;
    color: white;
    font-size: 1vw;
    font-family: Manrope;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.56px;
    word-wrap: break-word;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}