section.Row{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(212, 120, 222, 0.07);
    padding-top: 4.5vw !important;
}

.row-item{
    display: flex;
    border-top: 1px solid rgba(212, 120, 222, 1);
    width: 100%;
    justify-content: space-between;
}

.row-item h1{
    width: 40%;
    font-size: 1.2vw;
    text-align: left;
    font-family: Manrope;
}

.explain{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.explain h1{
    width: 100%;
    font-size: 1vw;
    font-weight: 600;
    padding-top: 5px;
    font-family: Manrope;
}

.explain p{
    font-family: Manrope;
    font-size: 1vw;
}

@media screen and (max-width:767px) {
    section.Row{
        padding: 43px 8.33vw;
        padding-top: 0 !important;
    }
    .row-item{
        flex-direction: column;
    }
    .row-item h1{
        text-align: left;
        font-size: 3.60vw;
    }
    .explain h1{
        font-size: 2vw;
    }
    .explain p{
        font-size: 1.8vw;
    }
}