

header{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    height: 90px;
    margin-top: 24px;
}

.Logo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 7vw;
}

.Logo img{
    width: 150px;
    padding-bottom: 10px;
}


nav{
    display: flex;
}

#navbar
{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 7vw;
}

#navbar li a
{
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
}

#navbar li a:hover{
    color: rgba(212, 120, 222, 1);
}

i svg{
    fill: black;
}

#mobile{
    display: none;
}

@media screen and (max-width:767px){
    #navbar
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 74px;
        right: -150%;
        transition: .3s ease-in-out;
        margin-right: 0;
        background-color: white;
        z-index: 2;
        padding: 30px 0;
    }

    #navbar.active{
        right: 0;
        position: fixed;
    }

    #mobile{
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s ease-in-out;
        z-index: 3;
    }
}