footer{
    background-color: rgba(212, 120, 222, 1);
    display: flex;
    justify-content: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    padding-top: 2vw;
    
}

.footer-links a{
    color: white;
    text-decoration: none;
}